/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
/*--------------------*/

/*--GLOBAL--*/
body  {
   background-color: #AAAAAA;
   color: #2C5959;
   font-size: 16px;
   line-height: 1.8;
   font-family: 'Source Sans Pro', sans-serif;
}

ol {
   list-style: none;
   counter-reset: li;
}
li {
   margin-bottom: 10px;
}
li:before {
   counter-increment: li; 
   content: counters(li,".") ". ";
}
input, textarea {
   border-radius: 8px;
   padding: 5px;
}
a {
   color: #946B4A;
}
a:hover {
   color: #644730;
}
table {
   border-collapse: collapse;
   border: 2px solid #000;
}
th, td {
   border: 2px solid grey;
   padding: 10px 15px;
}
/*--/GLOBAL--*/

/*--HEADER--*/
.header {
   background-color: #944A4A;
   color: #AAAAAA;
}
/*--/HEADER--*/

/*--FOOTER--*/
footer {
   background-color: #944A4A;
}
/*--/FOOTER--*/

/*Альбомная ориентация*/
@media all and (orientation: landscape) {
   .flex-d {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

   }
   .pb-0 {
      padding-bottom: 10px;
   }
}
/*Альбомная ориентация*/

/*Планшеты десктопы*/
@media screen and (min-width: 900px) {
   .flex-d {
      display: flex;
      flex-direction: row;
      justify-content: space-between; 
   }
   .order-1 {
      order: 1;
   }
   .order-3 {
      order: 2;
   }
   .order-2{
      order: 3;
   }
}
/*Планшеты десктопы*/